/* font style */
.inter-font{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}
.raleway-font{
    font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

/* color items */
.text-color{
    color: rgba(78, 71, 255, 1);
}
.background-color-button{
    background-color: #4E47FF;
}


/* header style */
header{
    margin-top: 90px;
    background-image: url("../Assets/Hero-bg.png");
    height: 698px;
}
nav{
    padding: 50px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    font-size: 34px;
    font-weight: 600px;
}
.nav-button{
    height: 48px;
    width: 132px;
    border-radius: 10px;
    border: none;
    color: white;
}

/* main style */

.hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-hrader-title{
    text-align: center;
    width: 800px;
    height: 237px;
    border-top: 399px;
    font-weight: 600px;
    font-size: 35px;
    color: #252432;

}
.section-button{
    height: 48px;
    width: 174px;
    border-radius: 10px;
    border: none;
    color: white;
}
/* action style */

main{
    width: 1140px;
    margin: 0 auto;
}
.Action-heading{
    font-size: 30px;
    font-weight: 600px;
}
.action-parageaph{
    font-size: 24px;
    color: #252432;
    font: size 24px;;
}
.action-button-style{
    border-radius: 10px;
    border: none;
    color: white;
    height: 58px;
    width: 290px;
    font-weight: bold;
}
.action{
    display: flex;
    justify-content: space-between;
    padding: 26px 159px 116px 141px ;
    height: 328px;
    width: 600px;
    gap: 220px;
}
.action-image{
    border-radius: 48px;
    height: 330px;
    width: 400px;
    
}
/* user style */
.user-color{
    color: rgba(78, 71, 255, 1);
}
.users-title{
    font-size: 25px;
    font-weight: bold;
    color: #252432;
    text-align:center;
    padding-top: none;
}
.user-header{
    font-size: 55px;

}
.users-description{
    display: flex;
    justify-content: center;
    gap: 158px;

}
.user-productive{
    width: 1140px;
    height: 306px;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background-color: rgba(78, 71, 255, 0.1);
}
/* user says style */
.user-says{
    width: 1140px;
    height: 342px;
    margin-top: 137px;
    box-sizing: border-box;
}
.user-says-container{

    margin-top: 50px;
    border-radius: 10px;
    padding: 30px;
    height: 200px;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 2px rgb(154, 148, 148);
}
.user-says-title{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: rgba(42, 36, 50, 1);
}

.user-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.user-img img{
    border-radius: 100%;
}

.user-says-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* focus-style */
.focus-container{
    height: 696px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 137px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px rgb(154, 148, 148);
    border-radius: 10px;
}

.focus-title{
    font-size: 50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    /* text-align: center; */
    /* padding-bottom: 71px; */
}
.focus-description{
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}
.focus-button{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    color: white;
    /* padding: 20px 50px; */
}
.focus-container img{
    height: 364px;
    width: 840px;
    border-radius: 48px;
}

/* customer info */
.customer-info{
    margin-top: 100px;
    height: 632px;
    width: 1140px;
    display: flex;
    justify-content: space-around;
}
.customer-info-column{
    width: 40%;
}
.customer-info-column-headline{
    font-size: 90px;
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
}
.customer-info-form{
    width: 40%;
}
form{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
form input{
    width: 497px;
    height: 70px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 0px 3px rgb(154, 148, 148);
}
.info-button{
    border-radius: 10px;
    height: 60px;
    width: 497px;
    border: none;
    color: white;
    font-weight: bold;
}
/* footer style */
footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
    box-shadow: 1px 1px 5px rgb(154, 148, 148);
}   

.footer-container h1{
    
    font-size: 60px;
    font-weight: 700;

}
.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 531px;
    height: 280px;
}
.menu{
    display: flex;
    gap: 30px;
}
/*  text-align: center;
    width: 800px;
    height: 237px;
    border-top: 399px;
    font-weight: 600px;
    font-size: 35px;
    color: #252432; 
     height: 696px;
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 137px;
    gap: 20px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 3px rgb(154, 148, 148);
    border-radius: 10px;*/